body{
    display:grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 10vh 120vh 10vh;
}

header{
    display: grid;
    grid-column: 1/3;
    grid-row:1;
    text-align: center;
    background-color: aliceblue;
    border-radius: 30px;
}

aside{
    display:grid;
    grid-template-rows: 5vh 35vh 5vh;
    grid-column:1;
    grid-row:2;
    background-color: aliceblue;
    border-radius: 30px;
}

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#beskrivning{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

main td img{
    width:320px;
    height:auto;
}

footer{
    display:grid;
    grid-column:1/3;
    grid-row:3;
    align-items: center;
    text-align: center;
}