body{
    display:grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 10vh 80vh 10vh;
}

header{
    display: grid;
    grid-column: 1/3;
    grid-row:1;
    text-align: center;
}

aside{
    display:grid;
    grid-template-rows: 5vh 35vh 5vh;
    grid-column:1;
    grid-row:2;
}

main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh;
    grid-column:2;
    grid-row:2;
}

main .bild{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

main .bild img{
    width:175px;
    height:auto;
}

footer{
    display:grid;
    grid-column:1/3;
    grid-row:3;
    align-items: center;
    text-align: center;
}